.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: .03em;
  color: var(--accent-text-color);
}

.header__logo {
  margin-right: 87px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: .03em;
  color: var(--primary-text-color);
}

@media screen and(win-width:1200px) {
  .header__logo {
    margin-right: 93px;
  }

}

@media screen and(max-width:1200px) {
  .footer__logo {
    text-align: center;
  }

}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--white-color);
}